{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">

            {% for product in products %}

                <p>{{ product.title }} <b>x{{ product.count }}</b> {{ 'home.purchase_price'|trans }} <b>({{ product.price }} eur)</b> {{ product.createdAt }}</p>

            {% endfor %}

            {{ form_start(buyForm, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_widget(buyForm) }}
            {{ form_end(buyForm) }}

        </div>
    </div>

{% endblock %}