{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">

            <a class="mt-4 mb-4" href="{{ path('home') }}">{{ 'home.back_to_home'|trans }}</a>

            {% include 'inc/inventory.html.twig' with {'totalProfit': totalProfit, 'products': products} %}

            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    {{ form_start(sellForm, {attr: {novalidate: 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_row(sellForm.count, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(sellForm.price, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(sellForm.submit, {attr: {class: 'btn btn-submit'}}) }}
                    </div>
                    {{ form_end(sellForm) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}



